body {
    width: 100vw;
}

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Plus Jakarta Sans';
}

/* nav css */
.scrolled {
    background-color: white;
    /* Atur properti CSS lainnya sesuai kebutuhan Anda */
}

nav {
    transition: background-color 0.7s ease;
    height: 10vh;
    background-color: #EEFCFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    z-index: 999;  
    position: fixed;
    width: 100%;

}

.logo img {
    
    margin-left: 50px;
}

.navbar-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    cursor: pointer;
    padding: 0;
    transition: transform 0.5s ease;
}
.navbar-links li:hover a {
    color: #2FD2BF;
    z-index: 1;
}

.navbar-links li {
    margin-right: 50px;
    position: relative;


}

.navbar-links a {
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    position: relative;
    transition: color 0.3s;
    text-align: center;

}

.contact-button {
    margin-right: 50px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #2FD2BF;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 100px;
    text-decoration: none;
    font-weight: bold;
}

/* home css */
.home {
    flex-direction: column;
    background: #EEFCFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    height: 75vh;
    width: 100vw;
}

.img-home {
    margin-top: 100px;
    /* width: 50%; */
    transition: transform 0.5s ease;
}




.des-home {
    text-align: center;
    font-family: Plus Jakarta Sans;
    color: #6D7475;
    font-size: 40px;
    margin-top: 20px;
    height: 130%;
    overflow-y: hidden;
    font-size: 3em  ;
}

.sp1 {
    color: #000000;
    font-weight: 650;
}

.sp2 {
    color: #2FD2BF;
    font-weight: 650;
    font-style: italic;
}

.sp2:hover {
    font-style: normal;
}


/* csss sub-home */
.sub-home {
    height: 35vh;
    background: url(bg-1.png);
    background-size: cover;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.card-home {
    margin-top: 50px;
    margin-right: 2%;
    margin-left: 2%;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    border-radius: 30px;
    box-shadow: 0px 0px 15px #00000035;
    width: 25%;
    background-color: #ffffff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card-home:hover {
    background-color: #ffffff88;
    transform: scale(1.1);
}


.tx-judul {
    font-family: plus jakarta sans;
    font-size: 25px;
    font-weight: 600;
}

.text-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    height: 100%;
    width: 65%;
}

.tx-des {
    line-height: 20px;
    font-size: 15;
    font-family: plus jakarta sans;
}

/* about style css ----------*/
.about {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.img-about {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  transform 0.3s ease;
}




.text-about {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;

}

.text-about2 {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    text-align: left;
    flex-direction: column;
}





.des-abt {
    margin-left: 10px;
    text-align: justify;
    width: 70%;
    display: flex;
    font-size: 20px;
    justify-content: left;
    align-items: center;
    color: #666666;
    font-family: plus jakarta sans;
}

/* sub-about style css */
.sub-about {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: left;
    height: 250px;
    align-items: center;
    padding-left: 20px;
    /* flex-direction: row; */
}

.card-about {
    width: 15%;
    padding: 10px;
    height: 150px;
    border-radius: 15px;
    box-shadow: 0px 0px 7px #00000029;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 30px;
    transition: transform 0.5s ease;
}

.card-about:hover {
    z-index: 1;
    transform: scale(1.2);
}

/* kursus css-------- */
.kursus {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.head-kursus {
    width: 100vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
}

.kiri-kursus {
    width: 50vw;
    display: flex;
    justify-content: left;
    align-items: center;
}

.txt-kurs {
    color: #000000;
    font-family: plus jakarta sans;
    font-size: 40px;
    margin-left: 115px;
    font-weight: 700;
}

.txt-kurs span {
    color: #2FD2BF;
}

.kanan-kursus {
    width: 50vw;
    display: flex;
    justify-content: right;
    align-items: center;
}

.kurs-btn {
    padding: 15px 30px;
    margin-right: 115px;
    background-color: #2FD2BF;
    border: none;
    font-size: 20px;
    font-family: plus jakarta sans;
    font-weight: 500;
    border-radius: 20px;
    color: #ffffff;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.kurs-btn:hover {
    background-color: #1C9F8F;
}

.sub-kursus {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
}

.card-kursus {
    width: 20%;
    height: 525px;
    border-radius: 15px;
    padding: 30px 30px 0px 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px #00000045;
    display: flex;
    margin-right: 40px;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.card-kursus:hover {
    transform: scale(1.1); 
    background: rgba(238, 252, 255, 0.33);
    
}



.img-kurs {
    width: 100%;
    /* width: 70%; - Hapus baris ini karena duplikat dan tidak diperlukan */
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-text-kurs {
    margin-top: 30px;

    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.jenis-kurs {
    font-size: 2.3em;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
}

.des-kurs {
    margin-top: 20px;
    font-size: 1.5em;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    text-align: justify;
    line-height: 30px;
}

.button-kurs-area {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-kurs {
    color: #ffffff;
    padding: 20px 130px 20px 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
}





/* test-judul*/
.test-judul {
    height: 35vh;
    background: url(bg-2.png);
    background-size: cover;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: end;
}

.judul-test {
    font-family: plus jakarta sans;
    font-size: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px #0000002a;
    padding: 25px 350px;
    color: #2FD2BF;
    font-weight: bold;
    border-radius: 100px;
    margin-bottom: 20px;
}

/* test CSSS-------- */
.test {
    width: 100vw;
    height: 80vh;
    background-color: #EEFCFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 30px;
}

.card-test {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    margin-left: 40px;
    margin-right: 40px;
    height: 80%;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: inset 0px 0px 20px #0000001b;
    flex-direction: column;
    transition: transform 0.5s ease;
}

.card-test:hover {
    transform: scale(1.1);
    /* Mengubah skala elemen saat hover */
}



.tengah-test {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 70%;
    width: 80%;
}

.bawah-test {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 30%;
    margin-top: 100px;
    width: 80%;
    display: flex;
    flex-direction: row;
}

.bawah-1 {
    width: 50%;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}

.bawah-2 {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

/* guru style css-------------------- */
.guru {
    padding-top: 3%;
    width: 100vw;
    height: 120vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #EEFCFF;
    font-family: plus jakarta sans;

}

.text-guru {
    margin-top: 40px;
    width: 100vw;
    height: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.judul-guru {
    font-family: plus jakarta sans;
    font-size: 57px;
    font-weight: bold;
    color: #2FD2BF;
    height: 130%;
    overflow-y: hidden;
}

.des-guru {
    margin-top: 0px;
    font-family: plus jakarta sans;
    font-size: 35px;
    text-align: center;
    line-height: 45px;
    width: 100vw;
    color: #5f656696;
    height: 150%;
    font-weight: 500;
    word-spacing: 5px;

}

/* card guru-------- */
.card-guru {
    width: 100%;
    height: 750%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-teacher {
    margin-left: 40px;
    margin-right: 40px;
    background-size: cover;
    display: flex;
    width: 23%;
    flex-direction: column;
    justify-content: end;
    height: 600px;
    border-radius: 35px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.352);
    transition: transform 0.3s ease-in-out;
}

.t1 {
    background: url(mr1.png);
    background-size: cover;
}

.t2 {
    background: url(mr2.png);
    background-size: cover;

}

.t3 {
    background: url(mr3.png);
    background-size: cover;
}

.card-teacher:hover {
    transform: scale(1.05);
}

.info-teacher {
    background: rgba(94, 106, 255, 0.62);
    height: 80px;
    width: auto;
    padding: 20px 0px 20px 30px;
    font-family: plus jakarta sans;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 0px 35px 35px;
    transition: opacity 0.5s ease-in-out;
}

.card-teacher:hover .info-teacher {
    opacity: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 35px;
    height: 100%;
    background: rgba(94, 106, 255, 0.62);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}



.card-teacher:hover .overlay {
    opacity: 1;
}

.overlay p {
    font-family: plus jakarta sans;
    margin: 0;
    padding: 20px;
    font-size: 23px;
    text-align: center;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.677);
}

/* ///// */
.join {
    overflow-y: hidden;
    width: 100vw;
    height: 90vh;
    background-color: #EEFCFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: plus jakarta sans;
}

.join-kiri {
    padding-left: 140px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: left;
    margin-top: 30px;
    flex-direction: column;
}

.judul-join {
    line-height: 60px;
    margin-top: 200px;
    font-size: 50px;
    font-weight: bold;
    overflow-y: hidden;
}

.judul-join span {
    font-size: 50px;
    color: #2FD2BF;
    font-weight: bold;
    font-style: italic;
}

.des-join {
    margin-top: 10px;
    font-size: 25px;
    color: #5F6566;
}

.btn-join {
    margin-top: 50px;
    padding: 18px 60px;
    border: none;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    border-radius: 15px;
    background-color: #2FD2BF;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-join:hover {
    background-color: #1e9d96;
    /* Warna latar hover yang diinginkan */
}

.join-kanan {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fotter */

.foter {
    font-family: plus jakarta sans;
    width: 100%;
    height: 350px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foter-area {
    margin-top: 50px;
    width: 90%;
    /* height: 200px; */
    display: flex;
    justify-content: center;
}

.ft-1 {
    width: 30%;
    height: 260px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

.img-f {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50%;

}

.des-ft {
    width: 100%;
    font-family: plus jakarta sans;
    font-size: 15px;
    display: flex;
    justify-content: left;
    align-items: end;
}

.des-fts {
    width: 75%;
    text-align: justify;
    font-family: plus jakarta sans;
    font-size: 15px;
    display: flex;
    justify-content: left;
    align-items: start;
    line-height: 20px;
    color: #B0B0B0;
}

.ft-2 {
    width: 20%;
    height: 260px;
}

.a-ft {
    font-size: 29px;
    font-weight: 600;
    color: #ffffff;

}

.ftt {
    margin-top: 20px;
    color: #B0B0B0;
    font-weight: 400;
    font-size: 14px;
    transition: transform 0.5s ease;
    cursor: pointer;
    transition: 0.3s;
}
.ftt:hover {
    color: #2FD2BF;
}


.ft-3 {
    width: 25%;
    height: 260px;
}

.ft-4 {
    width: 24%;
    height: 260px;
}

.ft-5 {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 220px;
}

.ft-5 img {
    margin: 10px 0px 10px 0px;
    width : 50px;
    height : 50px;
    display: flex;
}



body.loading {
    overflow: hidden;
  }

  .splash-screen {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EEFCFF; /* Set the background color of the splash screen */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.5s ease-in-out;
  }

  .splash-screen img {
    width: 400px; /* Set the width of your logo */
    height: auto;
    margin-bottom: 50px;
  }

  .loading-bar {
    width: 500px; /* Set the width of the loading bar */
    height: 30px;
    border-radius: 20px;
    background: #ffffff; /* Set the color of the loading bar */
    position: relative;
  }

  .loading-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 20px;
    background: #2FD2BF; /* Set the color of the loading progress */
    animation: loadingAnimation 2.1s linear infinite; /* Adjust the animation duration */
  }

  @keyframes loadingAnimation {
    100% {
      width: 100%;
    }
  }

  .reveal {
    position: relative;
    opacity: 0;
  }

  .reveal.active {
    opacity: 1;
  }

  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }

  .active.fade-left {
    animation: fade-left 1s ease-in;
  }

  .active.fade-right {
    animation: fade-right 1s ease-in;
  }
  .fade-in {
    opacity: 0;
    animation: fadeIn 4s ease-in-out forwards;
  }
  .fade-in-down {
    animation-name: fadeInDown;
  }
  /* ================================================ */
  

  @keyframes fade-bottom {
    0% {
      transform: translateY(100px);
      opacity: 1;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 1;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 1;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fadeInDown {
    from {
      opacity: 1;
      transform: translateY(200px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  body {
    background: #ffffff;
    min-height: 200vh;
}

/* Responsive */

body.loading {
    overflow: hidden;
}

.splash-screen-p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #eefcff;
    /* Set the background color of the splash screen */
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 1s ease-in-out;
}


.loading-bar-p {
    width: 250px;
    /* Set the width of the loading bar */
    height: 30px;
    background: #ffffff;
    /* Set the color of the loading bar */
    position: relative;
    border-radius: 30px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.333);
}

.loading-bar-p::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #009A9A;
    /* Set the color of the loading progress */
    animation: loadingAnimation 2s linear infinite;
    /* Adjust the animation duration */
}

@keyframes loadingAnimation {
    100% {
        width: 100%;
    }
}

.up-page-p {
    /* margin-top: 10px; */
    padding-top: 10px;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.logo-page-p {
    /* width: ; */
    display: flex;
    justify-content: left;
}


.contact-p {
    /* margin: 10px 0px 0px 90px; */
    text-decoration: none;
    background: #2FD2BF;
    color: white;
    font-size: 0.7em;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;

}

header {
    display: none;
}

.hero-p {
    width: auto;
    height: 500px;
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #eefcff;
}

.img-hero-p {
    margin-top: 200px;
    overflow-y: hidden;
    /* height: 50vh; */
    transition: transform 0.5s ease;
}

.img-hero-p:hover {
    transform: rotatey(200deg);
}

.tagline-p {
    font-size: 1.2em;
    margin-top: 10px;
    width: 80vw;
    height: 20vh;

    color: rgba(0, 0, 0, 0.54);
}

.smart-p {
    color: #000;
    font-weight: 800;
    font-size: 1.5em;
}

.edu-p {
    color: #2FD2BF;
    font-size: 1.5em;
    font-weight: 800;
    font-style: italic;
}

.hero-feature-p {
    background: url(hero2.png);
    background-size: cover;
    width: auto;
    height: 300px;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
}

.card-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 0px 6px 0px 6px;
    width: 25vw;
    height: auto;
    text-align: center;
    padding: 10px 2px 10px 2px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.221);
    
}

.card-p:hover {
    background: #ffffff88;
}

.video-p {
    padding: 5px 2px 10px 2px;
}

.title-p {
    color: #5E6AFF;
    font-weight: bold;
    font-size: 0.7em;
}


.desk-p {
    font-size: 0.5em;
}

.hero-about-p {
    display: none;
    display: flex;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    width: auto;
    align-items: center;
    display: none;
}

.desk-about-p {
    text-align: justify;
    font-size: 0.8em;
    width: 80vw;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}

.area-card-p {
    margin: 10px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 90vw;
}

.card-about-p {
    margin: 0px 10px 0px 10px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.152);
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
}

.cguru-p {
    padding: 20px 10px 20px 10px;
}

.info-p {
    text-align: center;
    font-size: 0.8em;
}

.siswa-p {
    font-weight: bold;
    color: #FE63FE;
}

.guru-p {
    font-weight: bold;
    color: #FFAE63;
}

.sekolah-p {
    font-weight: bold;
    color: #009A9A;
}

.hero-course-p {
    display: none;
    flex-direction: column;
    width: auto;
    height: 600px;

}

.title-course-p {
    font-weight: 800;
    font-size: 1.5em;
}

.title-area-course-p {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px 0px 40px;
}

.more-button-p {
    background: #2FD2BF;
    padding: 0px 15px 10px 15px;
    border-radius: 40px;
}

.more-button-p a {
    text-decoration: none;
    color: white;
    font-weight: 800;
}

.terkenal-p {
    color: #2FD2BF;
    font-style: italic;
}

.area-card-course-p {
    margin-left: 20px;
    overflow-x: auto;
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;
    padding: 0px 20px;
    /* Sesuaikan dengan kebutuhan margin */
    box-sizing: border-box;
}

.card-course-p {
    /* Tetapkan lebar sesuai kebutuhan (contoh: 33.33% untuk tiga card di satu baris) */
    flex: 0 0 70%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    padding: 5px 30px 0px 30px;
    border-radius: 20px;
    margin-right: 30px;
    /* Sesuaikan dengan kebutuhan margin antar card */
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.352);
    transition: transform 0.3s ease;

}

.card-course-p:hover{
    
    background: rgba(238, 252, 255, 0.33);
}



.course-p {
    font-size: 1.7em;
    color: #5E6AFF;
    align-items: baseline;
    font-weight: 800;
    margin: 30px 0px 0px 0px;
}

.course-desk-p {
    text-align: justify;
    color: #5E6AFF;
}

.course-button-p {
    margin-top: 40px;
    text-decoration: none;
    background-color: #5E6AFF;
    padding: 10px;
    color: white;
    font-weight: bold;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 15px 70px 15px 70px; */
    border-radius: 20px;
}

.proggraming-p {
    color: #AE5EFF;
}

.network-p {
    color: #FF5E5E;
}

.pro-p {
    background: #AE5EFF;
}

.net-p {
    background: #FF5E5E;
}


/* /////////////////////// */
.hero-title-testimoni-p {
    width: auto;
    height: 15vh;
    background: url(bg-testi.png);
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
}

.title-testimoni-p {
    background: white;
    color: #2FD2BF;
    font-weight: bold;
    padding: 20px 90px 20px 90px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.289);
}

.hero-testimoni-p {
    width: auto;
    height: 80vh;
    background: #eefcff;
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
}

.card-testi-p {
    width: 80vw;
    background: white;
    margin: 10px 10px 10px 10px;
    padding: 20px 10px 0px 10px;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.092);
    border-radius: 20px;
}

.area-user-p {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;

}

.user-testi-p {
    display: flex;
    align-items: center;
}

.nama-user-p {
    margin: 0px 10px 0px 5px;
    font-weight: bold;
    color: #FE63FE;
}

.petik-p {
    font-size: 2em;
    font-weight: 800;
    padding: 0px 30px 0px 0px;
    color: #FE63FE;
}

.text-testi-p {
    text-align: justify;
    margin: 20px 10px 20px 10px;
    font-size: 0.8em;
    color: #FE63FE;
}

.dua-p {
    color: #FFAE63;
}

.tiga-p {
    color: #2FD2BF;
}

.hero-teacher-p {
    display: none;
    background: #eefcff;
    width: auto;
    height: 600px;
}

.title-teacher-p {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #2FD2BF;
}

.desk-title-teacher-p {
    color: rgba(0, 0, 0, 0.6);
    width: 300px;
    font-size: 0.8em;
    margin-top: 8px;
}

.edu-teacher-p {
    font-style: italic;
}

.area-teacher-p {
    margin-top: 20px;
    margin-left: 20px;
    overflow-x: auto;
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;
    padding: 0px 20px;
    /* Sesuaikan dengan kebutuhan margin */
    box-sizing: border-box;
}

.card-teacher-p {
    /* background-size: cover; */
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 450px;
    border-radius: 20px;
    margin-right: 20px;
    /* Sesuaikan dengan kebutuhan margin antar card */
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.352);
    transition: transform 0.3s ease-in-out;
    
}

.t1-p {
    background: url(teacher1-img.png);
    background-size: cover;
}

.t2-p {
    background: url(teacher2-img.png);
    background-size: cover;

}


.t3-p{
    background-image: url(teacher3-img.png);
    background-size: cover;

}
.card-teacher-p:hover {
    transform: scale(1.05);
}

.info-teacher-p {
    background: rgba(94, 106, 255, 0.62);
    height: 80px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
    padding-left: 20px;
}

.card-teacher-p:hover .info-teacher-p {
    opacity: 0;
}

.overlay-p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 20px 0px 20px;
    height: 100%;
    background: rgba(94, 106, 255, 0.62);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card-teacher-p:hover .overlay-p {
    opacity: 1;
}

.overlay-p p {
    margin: 0;
    padding: 5px;
    text-align: center;
}


.hero-join-p {
    background: #eefcff;
    width: auto;
    height: 600px;
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-footer-p {
    display: none;
    width: auto;
    background: black;
    height: 900px;
    padding: 60px 0px 0px 40px;
}

.title-footer-p {
    margin-top: 30px;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
}

.sub-footer-p {
    color: rgba(255, 255, 255, 0.721);
    margin: 10px 0px 10px 0px;
    font-size: 0.8em;
    text-decoration: none;
    transition: 0.7s;
}

.sub-footer-p:hover {
    color: #2FD2BF;
}

.footer-ic-p:hover {
    transform: scale(1.1);
}

.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

/* ================================================ */


@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

  @media screen and (max-width: 390px) {
    *{
        overflow-x: hidden;
    }
    .splash-screen{
        display: none;
    }
    nav{
        display: none;
    }
    .home{
        display: none;
    }
    .sub-home{
        display: none;
    }
    .about{
        display: none;
    }
    .kursus{
        display: none;
    }
    .test-judul{
        display: none;
    }
    .test{
        display: none;
    }
    .guru{
        display: none;
    }
    .join{
        display: none;
    }
    .foter{
        display: none;
    }

    /* responsive */
    .splash-screen-p{
        display: block;
        display: flex;
    }

    header {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.6s;
        /* padding: 40px 100px; */
        z-index: 10000;
        background: #eefcff;
    }

    header.sticky {
        /* padding: 5px 100px; */
        background: #ffffff;
    }

    header .logo {
        /* margin: 0px 80px 0px 0px; */
        position: relative;
        font-weight: 700;
        /* color: #fff; */
        text-decoration: none;
        /* font-size: 2em; */
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.6s;
    }

    header ul {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header ul li {
        position: relative;
        list-style: none;
        font-size: 0.6em;
        color: #000;
    }

    header ul li a {
        /* position: relative; */
        margin: 0 10px;
        text-decoration: none;
        color: #000;
        letter-spacing: 1px;
        font-weight: bold;
        transition: 0.6s;
    }

    .about-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        width: 20vw;
        /* margin: 0px 10px 0px 10px; */
    }

    header.sticky .logo,
    header.sticky li a {
        color: #000;
    }
    





    .hero-p{
        display: block;
        display: flex;
    }

    .hero-feature-p{
        display: block;
        display: flex;
    }
    .hero-about-p{
        display: block;
        display: flex;
    }
    .hero-course-p{
        display: block;
        display: flex;
    }
    .hero-title-testimoni-p{
        display: block;
        display: flex;
    }
    .hero-testimoni-p{
        display: block;
        display: flex;
    }
    .hero-teacher-p{
        display: block;
    }
    .hero-join-p{
        display: block;
        display: flex;
    }
    .hero-footer-p{
        display: block;
    }

  }